{% extends "base.html" %}

{% block content %}
  <h1 class="mb-4">Tags
    <a class="btn btn-primary float-end"
       style="width: fit-content"
       href="{% url 'task_list:tags_create' %}"
    >
      Add
    </a>
  </h1>
     {% if tags %}
       <table class="table">
        <tr>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>

        {% for tag in tags %}
          <tr>
            <td>
              {{ tag.name }}
            </td>
            <td>
              <a class="btn btn-secondary" style="width: fit-content" href="{% url 'task_list:tags_update' pk=tag.id %}">UPDATE</a>
            </td>
            <td>
              <a class="btn btn-secondary" style="width: fit-content" href="{% url 'task_list:tags_delete' pk=tag.id %}">DELETE</a>
            </td>
          </tr>
        {% endfor %}
       </table>
      {% else %}
        <p>There are no "<strong>{{ search_query }}</strong>" in the list.</p>
      {% endif %}
{% endblock %}
