{% extends "base.html" %}

{% block content %}
  <h1>Delete task?</h1>
  <p>Are you sure you want to delete the task: {{ task }}?</p>
  <p><i>All details with this task will be also deleted!</i></p>
  <form action="" method="post">
    {% csrf_token %}
    <div class="d-inline-block">
      <input type="submit" value="Yes" class="btn btn-danger">
      <a href="{% url 'task_list:task_list' %}" class="btn btn-primary link-to-page">
      No
      </a>
    </div>

  </form>
{% endblock %}